[Unit]
Description=Run Travel Midwest camera metadata ingestion hourly

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
Persistent=true
Unit=alternative-data-camera.service

[Install]
WantedBy=timers.target
